

<div class="top-text-div">
    <img src="https://www.einstein.br/PortalAssets/images/einstein.ico?rev=23" width="60px" height="60px">
    <p class="top-text">Hospital Albert Eistein</p>
</div>
<div class="background">
    <div class="center">
        <a class="title">SOLICITAR SENHA</a>
        <a class="myButton">COMUM</a>
        <br>
        <a class="myButton">PREFERENCIAL</a>
        <br>
        <a  class="myButton">EXAMES</a>
        <br>
        <a  class="bottom-text">10:43 Segunda-Feira</a>
    </div>
</div>
